/*  your css code here. If applicable */
#main{
	background-color:gray;
}
.headings{
	text-align:center;
	margin:10px 30px;
	
}
#main>audio{
	width:600px;
}
#songlist{
    width:656px;
	background-color:white;
    margin:10px;
	border-left:10px;
	border:1px solid black;
}
#video{
	background-color:white;
	width:656px;
	height:600px;
	margin:10px;
	border:2px solod black;
	border-radius:10px;

}
#video2{
	margin:10px;
}