/*  your css code here. If applicable */
#main{
	background-color:rgb(204, 204, 204);
}
.headings{
	text-align:center;
	margin:10px 30px;
	
}
#player-two{
	width:600px;
}
#songlist{
    width:656px;
	background-color:white;
    margin:10px;
	border-left:10px;
	border:1px solid black;
	list-style-type:none;
}
#video{
	background-color:white;
	width:656px;
	height:600px;
	margin:10px;
	border:2px solod black;
	border-radius:10px;

}
#player-one{
	margin:10px;
}